{%extends 'header.html'%}
{%load static%}
   {%block extra_css%}
   <link rel="stylesheet" href="{%static "donorreg.css" %}">
   {%endblock%}
    {%block content%}
     <div class="about-desc p-4">
    <h2 class="pt-4 text-center">Welcome to our Community.</h2>
    
    <p > This project is developed to make the process of blood donation easier and faster.
        It connects donors and receivers on a single platform where donors can register,and patients can request blood based on their needs.
    </p>
    <p>Our platform ensures security,efficiency and simplicity. Wheather you're a first-time donor or a hospital administrator, we offer a user- friendly experience designed to save time and lives.</p>
    <p> Become part of the BloodConnect community today, Register as donor,spread awareness,or request help in times of need. together, we can create a stronger, healthier world through the power of giving.</p>
    <p><em>"Donate Blood,Save Lives --"</em></p>
    <p><em>"Be proud,Be a Donor --"</em></p>
    </div>
  
    {%endblock%}